streamlit
fire==0.5.0
gensim==4.3.2
numpy==1.24.3
pandas==2.0.1
scikit_learn==1.2.2
stanza==1.4.0
corenlp
tqdm==4.65.0
zca==0.1.1

from stanza.core import Pipeline
from stanza.pipeline.constituency_processor import ConstituencyProcessor
import stanza.models.constituency.trainer as trainer
from stanza.server.parser_eval import EvaluateParser
from stanza.protobuf import to_text

